# Emacs backup files
*~
*#
.#*
# Vim file artifacts
.*.sw*
# installed platform-specific binaries
bin/
.DS_Store
.project
.idea/

node_modules

network/channel-artifacts/*.tx
network/channel-artifacts/*.block
network/crypto-config/*
network/docker-compose-e2e.yaml

config/network-config.yaml
fabric-client-kv-*